apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
data:
  my.cnf: |
    [mysqld]
    max_connections=1000
    innodb_buffer_pool_size=1G
    innodb_flush_log_at_trx_commit=2
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci