apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-combined-config
data:
  # DB 설정 파일
  my.cnf: |
    [mysqld]
    max_connections=1000
    innodb_buffer_pool_size=1G
    innodb_flush_log_at_trx_commit=2
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci

  # 최초 실행 스크립트
  init-exporter.sql: |
    CREATE USER IF NOT EXISTS 'exporter'@'%' IDENTIFIED BY 'password123';
    GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'exporter'@'%';
    FLUSH PRIVILEGES;