apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-scripts
  namespace: {{ .Values.namespaceOverride | default "default" }}
data:
  init-exporter.sql: |
    CREATE USER IF NOT EXISTS 'exporter'@'%' IDENTIFIED BY 'password123';
    GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'exporter'@'%';
    FLUSH PRIVILEGES;