
replicaCount: 5

image:
  repository: kingmusung/batchtestapp
  pullPolicy: Always
  tag: "latestaaa"


nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""


podAnnotations: {}

podLabels: {}



service:
  type: NodePort
  port: 8080


resources:
  limits:
    cpu: "600m"     
    memory: "640Mi" 
  requests:
    cpu: "300m"
    memory: "384Mi"

