namespaceOverride: ""
fullnameOverride: ""
replicaCount: 1

image:
  registry: quay.io
  repository: prometheus/mysqld-exporter
  tag: ""
  pullPolicy: "IfNotPresent"

imagePullSecrets: []

service:
  labels: {}
  annotations: {}
  name: mysql-exporter
  type: ClusterIP
  externalPort: 9104
  internalPort: 9104

serviceMonitor:
  enabled: true
  apiVersion: "monitoring.coreos.com/v1"
  interval: 30s
  scrapeTimeout: 10s
  additionalLabels:
    release: kube-prometheus-stack
  jobLabel: ""
  targetLabels: []
  podTargetLabels: []
  metricRelabelings: []
  relabelings: []
  multipleTarget:
    enabled: false
    targets: []
    sharedSecret:
      enabled: false
      name: ""

serviceAccount:
  create: true
  name: ""
  annotations: {}

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
podLabels: {}
priorityClassName: ""
extraVolumeMounts: []
extraVolumes: []
extraEnvs: []
podSecurityContext: {}
securityContext: {}

annotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/metrics"
  prometheus.io/port: "9104"

config:
  extraArgs: []

collectors: {}

mysql:
  db: "kws"
  # host: "mysql.default.svc.cluster.local"
  host: "mysql"
  additionalConfig: []
  pass: "password123"
  port: 3306
  protocol: ""
  user: "exporter"
  existingConfigSecret:
    name: ""
    key: ""
  existingPasswordSecret:
    name: ""
    key: ""

cloudsqlproxy:
  enabled: false
  image:
    repo: "gcr.io/cloud-sql-connectors/cloud-sql-proxy"
    tag: "2.14.0"
    pullPolicy: "IfNotPresent"
  instanceConnectionName: ""
  privateIp: false
  port: "3306"
  credentialsSecret: ""
  credentials: ""
  workloadIdentity:
    enabled: false
    serviceAccountEmail: ""
  extraArgs: ""

prometheusRule:
  enabled: true
  additionalLabels: {}
  namespace: ""
  rules:
    - alert: MysqlDown
      expr: mysql_up == 0
      for: 1m
      labels:
        severity: critical
      annotations:
        summary: "MySQL 서비스 중단"
        description: "MySQL 인스턴스가 응답하지 않습니다."

extraManifests: []