datadir="/var/lib/proxysql"

admin_variables=
{
  admin_credentials="admin:admin;radmin:radmin"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
  threads=2
  max_connections=2048
  interfaces="0.0.0.0:6033"
  monitor_username="exporter"
  monitor_password="password123"
  monitor_history=600000
  monitor_connect_interval=5000
  monitor_ping_interval=2000
  server_version="8.0.20"
}

# DB 서버 등록
mysql_servers =
(
  { 
    address="mysql-app.mysql.svc.cluster.local", 
    port=3306, 
    hostgroup=0,
    max_connections=5   # 실험의 핵심!
  }
)

# 어플리케이션 계정 (root/root)
mysql_users =           # 콜론(:)을 이퀄(=)로 수정했습니다.
(
  { 
    username = "root", 
    password = "root", 
    default_hostgroup = 0, 
    active = 1 
  }
)

# 쿼리 룰
mysql_query_rules =     # 여기도 이퀄(=)로 맞췄습니다.
(
  {
    rule_id=1
    active=1
    match_pattern="^SELECT .* FOR UPDATE$"
    destination_hostgroup=0
    apply=1
  },
  {
    rule_id=2
    active=1
    match_pattern="^SELECT"
    destination_hostgroup=0 
    apply=1
  }
)