apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "batch-server.fullname" . }}
data:
  # DB 기본 설정
  #SPRING_DATASOURCE_URL: "jdbc:mysql://mysql-app.mysql.svc.cluster.local:3306/kws?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&rewriteBatchedStatements=true"
  SPRING_DATASOURCE_URL: "jdbc:mysql://mysql-proxy-app-proxysql.mysql.svc.cluster.local:6033/kws?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&rewriteBatchedStatements=true"
  SPRING_DATASOURCE_USERNAME: "root"
  SPRING_DATASOURCE_PASSWORD: "root"
  
  # JPA/Hibernate 배치 설정 (1000개씩 묶어서 처리)
  SPRING_JPA_PROPERTIES_HIBERNATE_JDBC_BATCH_SIZE: "1000"
  SPRING_JPA_PROPERTIES_HIBERNATE_ORDER_INSERTS: "true"
  SPRING_JPA_PROPERTIES_HIBERNATE_ORDER_UPDATES: "true"

  SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE: "10"
  SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT: "10000"
  SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT: "600000"
  SPRING_DATASOURCE_HIKARI_MAX_LIFETIME: "1800000"
  
  # 형님 앱 전용 커스텀 배치 전략 설정
  # POINT_UPDATE_STRATEGY: "no-batch"
  # POINT_UPDATE_STRATEGY: "batch-jpa"
  POINT_UPDATE_STRATEGY: "batch-jdbc"
  #no-batch
  #batch-jpa
  # batch-jdbc
  POINT_UPDATE_BATCH_SIZE: "100"
  POINT_UPDATE_BATCH_DELAY: "1000"